@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body
{
    font-family: 'Poppins', sans-serif;
	font-size:19px;
	margin:0;
	background:#ffffff;
}
html
{
    margin: 0;
    padding: 0;	
}
ul, li, form, p, h1, h2, h3, h4, h5 ,h6
{
	margin:0;
}

.clearfix:after
{
	content:" ";
	clear:both;
	visibility:hedden;
	display:block;
	height:0px;
}

.clsHeader
{
	background:#f4f4f4;
}
.clsFooter
{
	background:#110f0f;
}

p
{
	font-family: 'Poppins', sans-serif;
}
.clsHED_TLT
{
	font-family: 'Poppins', sans-serif;
}
/* background */

.clsBG_1
{
	background:#fff url('../images/Bg1.jpg') no-repeat fixed top center;
}


.clsBG_COL1
{
	background:#4d4747;
}
.clsBG_COL2
{
	background:#6d0500;
}
.clsBG_WHT
{
	background:#ffffff;
}
.clsBG_BLC
{
	background:#000000;
}
.clsBG_BLC2
{
	background:#2a2a2a;
}
.clsBG_GRY
{
	background:#fafafa;
}

.clsNO_PAD
{
	padding:0px;
}
.clsNO_MRG
{
	padding:0px;
}

/* margin */
.clsMARG_TOP20
{
	margin-top:20px;
}
.clsMARG_TOP30
{
	margin-top:30px;
}
.clsMARG_TOP40
{
	margin-top:40px;
}
.clsMARG_TOP50
{
	margin-top:50px;
}
.clsMARG_BOT20
{
	margin-bottom:20px;
}
.clsMARG_BOT30
{
	margin-bottom:30px;
}
.clsMARG_BOT40
{
	margin-bottom:40px;
}
.clsMARG_BOT50
{
	margin-bottom:50px;
}
.clsMARG_IN
{
	margin:40px 40px;
}

/* padding */

.clsPAD_PER2
{
	padding:2% 0px;
}
.clsPAD_PER4
{
	padding:4% 0px;
}
.clsPAD_PER6
{
	padding:6% 0px;
}
.clsPAD_PER8
{
	padding:8% 0px;
}
.clsPAD_PER12
{
	padding:12% 0px;
}
.clsPAD_PER_TOP10
{
	padding-top:10%;
}
.clsPAD_PER_BOT10
{
	padding-bottom:5%;
}
.clsPAD_TOP5
{
	padding-top:5px;
}
.clsPAD_TOP10
{
	padding-top:10px;
}
.clsPAD_TOP15
{
	padding-top:15px;
}
.clsPAD_TOP20
{
	padding-top:20px;
}
.clsPAD_TOP25
{
	padding-top:25px;
}
.clsPAD_TOP30
{
	padding-top:30px;
}
.clsPAD_TOP35
{
	padding-top:35px;
}
.clsPAD_TOP40
{
	padding-top:40px;
}
.clsPAD_TOP45
{
	padding-top:45px;
}
.clsPAD_TOP50
{
	padding-top:50px;
}


.clsPAD_BOT5
{
	padding-bottom:5px;
}
.clsPAD_BOT10
{
	padding-bottom:10px;
}
.clsPAD_BOT15
{
	padding-bottom:15px;
}
.clsPAD_BOT20
{
	padding-bottom:20px;
}
.clsPAD_BOT25
{
	padding-bottom:25px;
}
.clsPAD_BOT30
{
	padding-bottom:30px;
}
.clsPAD_BOT35
{
	padding-bottom:35px;
}
.clsPAD_BOT40
{
	padding-bottom:40px;
}
.clsPAD_BOT45
{
	padding-bottom:45px;
}
.clsPAD_BOT50
{
	padding-bottom:50px;
}


.clsPAD_IN5
{
	padding:5px 20px;
}
.clsPAD_IN10
{
	padding:10px 20px;
}
.clsPAD_IN15
{
	padding:15px 20px;
}
.clsPAD_IN20
{
	padding:20px 20px;
}
.clsPAD_IN25
{
	padding:25px 20px;
}
.clsPAD_IN30
{
	padding:30px 20px;
}
.clsPAD_IN35
{
	padding:35px 20px;
}
.clsPAD_IN40
{
	padding:40px 20px;
}
.clsPAD_IN45
{
	padding:45px 20px;
}
.clsPAD_IN50
{
	padding:50px 20px;
}


.clsPAD5
{
	padding:5px;
}
.clsPAD10
{
	padding:10px;
}
.clsPAD15
{
	padding:15px;
}
.clsPAD20
{
	padding:20px;
}
.clsPAD25
{
	padding:25px;
}
.clsPAD30
{
	padding:30px;
}
.clsPAD35
{
	padding:35px;
}
.clsPAD40
{
	padding:40px;
}
.clsPAD45
{
	padding:45px;
}
.clsPAD50
{
	padding:50px;
}



/* text size */
.clsTXT_SM
{
	font-size:13px;
}
.clsTXT_MD
{
	font-size:30px;
}
.clsTXT_LG
{
	font-size: 3.9rem;
	font-weight: 400;
}


/* text format */
.clsTXT_UP
{
	text-transform:uppercase;
}
.clsTXT_LOW
{
	text-transform:lowercase;
}
.clsTXT_CAP
{
	text-transform:capitalize;
}

/* text color */
.clsTXT_COL1
{
	color:#d20000;
}
.clsTXT_COL2
{
	color:#007eb8;
}
.clsTXT_COL3
{
	color:#479f00;
}
.clsTXT_WHT
{
	color:#ffffff;
}
.clsTXT_GRY
{
	color:#636668;
}
.clsTXT_BLC
{
	color:#000000;
}

.clsTXT_SHDW
{
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.60);
}

/* text align */
.clsALGN_LEFT
{
	text-align:left;
}
.clsALGN_RIGHT
{
	text-align:right;
}
.clsALGN_CENTER
{
	text-align:center;
}

/* border */
.clsBRD_TOP_GRY
{
	border-top:1px solid #e9e9e9;
}
.clsBRD_BOT_GRY
{
	border-bottom:1px solid #e9e9e9;
}
.clsBRD_LFT_GRY
{
	border-left:1px solid #e9e9e9;
}
.clsBRD_RGT_GRY
{
	border-right:1px solid #e9e9e9;
}
.clsBRD
{
	border:1px solid #8b8b8b;
}
.clsBRD_dash
{
	border: 1px dashed #d2d2d2
}
.clsBRD_RADIUS
{
	border-radius:6px;
}
.clsBRD_RADIUS_TOP
{
	border-radius:12px 12px 0px 0px;
}
.clsBRD_RADIUS_LFT
{
	border-radius:6px 0px 0px 6px;
}
.clsBRD_RADIUS_RGT
{
	border-radius:0px 6px 6px 0px;
}


.btn-info {
    color:#fff;
	background-color:#00a5ec;
	border-color:#00a5ec;
}
.btn-info:hover {
    color:#fff;
	background-color:#004f79;
	border-color:#004f79;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}

.gradient {

    width: 100%;
    height: 100%;
    background-image: radial-gradient(at 300px 300px, rgba(108,28,206,0.4) 0, rgba(108,28,206,0.2) 40%, rgba(0,0,56,0.1) 100%);
}

.clsBx_1
{
	margin-bottom: 30px;
	box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
	border: 1px solid #d9e1e8;
	border-radius:6px;
	background:white;
	padding:40px;
}

.clsShdow
{
	box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}

/* .clsFlex
{
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
#div1 {
    display: block;
    margin: auto;
    width: anything under 100% 
}

.entry h2{
    font-size:36px;
    color:#000;
    font-weight:800;
}

.entry h2:hover{
    color:#f00;
}

.entry h2:hover{
    color:#f00;
    transition: all 0.3s ease;
}

a:link { color: blue; }
a:visited { color: purple; }


p:first-letter{
    display:block;
    float:left;
    margin:3px;
    color:#f00;
    font-size:300%;
} */





.card_bx:hover {

    margin-top: -5px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);

}
.card_bx {
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    overflow: hidden;

}





/* Video Background */

.clsVid_bg_blc {
    background: black url("../images/play_ico.png") no-repeat scroll center center;
    border: 6px solid #282837;
}
.clsVid_bg_wht {
    background: black url("../images/play_ico.png") no-repeat scroll center center;
    border: 6px solid #ffffff;
}
.clsVid_bg_colr {
    background: black url("../images/play_ico.png") no-repeat scroll center center;
    border: 6px solid #eaab00;
}



/* Media Screen */

@media screen and (max-width: 768px)
{
	h1
	{
		font-size:20px;
	}
	h2
	{
		font-size:18px;
	}
	h3
	{
		font-size:16px;
	}
	.clsTXT_LG
{
	font-size:30px;
}
.clsPAD_TOP50
{
	padding-top:170px;
}